.Nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.Linkedin-button,
.Github-button,
.Mail-button,
.Resume-button {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.Linkedin-button:hover,
.Github-button:hover,
.Mail-button:hover,
.Resume-button:hover {
  transform: scale(1.1);
}