.project-card {
  width: 300px;
  height: 300px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #D8F9FF;
  border-radius: 40px;
  color: #000;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.project-card-back {
  transform: rotateY(180deg);
}

.project-card-front-langs {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.project-card h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 20px;
  margin-bottom: 30px;
}

.project-card-front ul {
  list-style: none;
  padding: 0;
}

.project-card-front img {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.project-card-back ul {
  padding-left: 20px;
}

.project-card-back li {
  text-align: left;
  margin: 20px;
}