.Technologies {
  align-items: center;
  margin-top: 100px;
}

.Technologies {
  text-align: center;
  padding: 20px;
}

.Icon-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.Icon-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 75%;
}

.Icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  min-width: 24px;
}

.Icon-item img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.Icon-item img:hover {
  transform: scale(1.5);
}