.Timeline {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Timeline-left,
.Timeline-right {
  width: 500px;
  margin-left: 100px;
  margin-right: 100px;
  flex: 1;
}

.Timeline-left {
  margin-top: 200px;
}

.Timeline-line {
  position: relative;
  margin-top: 25px;
  width: 3px;
  background-color: #000000;
}

.Timeline-circles {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Timeline-circle {
  display: block;
  width: 20px;
  height: 20px;
}

.Timeline-line-space {
  height: 150px;
}